* {
	box-sizing: border-box;
}

body {
	font-family: 'Hanken Grotesk', sans-serif;
	padding: 0;
	margin: 0;
}

:root {
	--primary-light-red: hsl(0, 100%, 67%);
	--primary-orangey-yellow: hsl(39, 100%, 56%);
	--primary-green-teal: hsl(166, 100%, 37%);
	--primary-cobalt-blue: hsl(234, 85%, 45%);
	--gradient-light-slate-blue: hsl(252, 100%, 67%);
	--gradient-light-royal-blue: hsl(241, 81%, 54%);
	--gradient-violet-blue: hsla(256, 72%, 46%, 1);
	--gradient-persian-blue: hsla(241, 72%, 46%, 0);
	--neutral-white: hsl(0, 0%, 100%);
	--neutral-pale-blue: hsl(221, 100%, 96%);
	--neutral-light-lavender: hsl(241, 100%, 89%);
	--neutral-dark-gray-blue: hsl(224, 30%, 27%);
}

@media (min-width: 767px) {
	.container {
		max-width: 650px;
		display: flex;
		justify-content: space-between;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		box-shadow: 5px 15px 30px rgb(167 165 165 / 25%);
		border-radius: 25px;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		-webkit-border-radius: 25px;
		-moz-border-radius: 25px;
		-ms-border-radius: 25px;
		-o-border-radius: 25px;
	}
}

.container .your-result {
	flex: 1;
	padding: 30px;
	text-align: center;
	background-image: linear-gradient(var(--gradient-light-slate-blue), var(--gradient-light-royal-blue));
	color: var(--neutral-white);
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
}

@media (max-width: 767px) {
	.container .your-result {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
}

.container h3 {
	margin-top: 0;
	margin-bottom: 24px;
	font-size: 20px;
	font-weight: normal;
}

.container .your-result .info {
	margin: auto;
	padding: 20px;
	background-image: linear-gradient(var(--gradient-violet-blue), var(--gradient-persian-blue));
	width: 150px;
	height: 150px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.container .your-result .info span:first-child {
	display: block;
	margin: auto;
	font-size: 60px;
	font-weight: bold;
}

.container .your-result .info span:last-child {
	color: var(--neutral-light-lavender);
}

.container .your-result p:first-of-type {
	font-size: 24px;
	font-weight: bold;
}

.container .your-result p:last-of-type {
	font-size: 18px;
	line-height: 1.7;
	color: var(--neutral-light-lavender);
	margin-bottom: 0;
}

.container .summary {
	flex: 1;
	padding: 30px;
}

.container .summary .row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
	padding: 0 15px;
	font-size: 15px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.container .summary .row.red {
	background-color: hsl(0, 100%, 67%, 10%);
}

.container .summary .row.yellow {
	background-color: hsl(39, 100%, 56%, 10%);
}

.container .summary .row.teal {
	background-color: hsl(166, 100%, 37%, 10%);
}

.container .summary .row.blue {
	background-color: hsl(234, 85%, 45%, 10%);
}

.container .summary .row.red>div {
	color: var(--primary-light-red);
}

.container .summary .row.yellow>div {
	color: var(--primary-orangey-yellow);
}

.container .summary .row.teal>div {
	color: var(--primary-green-teal);
}

.container .summary .row.blue>div {
	color: var(--primary-cobalt-blue);
}

.container .summary .row>div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.container .summary .row>div img {
	margin-right: 10px;
}

.container .summary .row span {
	color: #999;
}

.container .summary a {
	display: block;
	text-decoration: none;
	margin-top: 25px;
	padding: 15px 40px;
	background-color: var(--neutral-dark-gray-blue);
	color: var(--neutral-white);
	text-align: center;
	border-radius: 40px;
	transition: 0.3s;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	-ms-border-radius: 40px;
	-o-border-radius: 40px;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}

.container .summary a:hover {
	background-image: linear-gradient(var(--gradient-light-slate-blue), var(--gradient-light-royal-blue));
}